@import url("https://fonts.googleapis.com/css2?family=Exile&family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
}

@theme {
  --color-primary: #000009;
  --color-secondary: #7e1921;
  --color-accent: #961c26;
  --color-highlight: #d41936;
  --color-light: #e3e3e3;

  --font-exile: "Exile", system-ui;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
