@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
@import "tailwindcss";

@theme {
  --color-cst-dark: #0f0e0e;
  --color-cst-white: #eeeeee;
  --color-cst-hard: #541212;
  --color-cst-soft: #468a9a;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 110rem;
  --breakpoint-3xl: 200rem;
  --font-open: "Open Sans", sans-serif;
  --font-fascinate: "Fascinate Inline", system-ui;
  --font-jacquard: "Jacquard 24", serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: var(--color-cst-dark);
}


